body{
	font-family: "microsoft yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
#navigation .user .dropdown > a{
	line-height: 26px;
}
#left .subnav .subnav-menu > li > a{
	padding-top:10px;
	padding-bottom: 10px;
}
#main .breadcrumbs{
	margin-top: 20px;
}
#navigation #brand{
	padding-right: 4px;
	padding-left: 0;
	font-size: 18px;
}
.cke_inner{
	border-top:1px solid #DDD!important;
}
.form-actions{
	padding-top: 30px;
}
.form-actions .btn{
	padding:10px 26px;
}
#navigation .user{
	height: 40px;
}